body {
  margin: 0;
}

.container {
  position: relative;
  margin: auto;
  width: 1366px;
  height: 768px;
  background: #ffffff;
  display: grid;
  padding: 41px 140px 171px 137px;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.grid-item {
  color: black;
  font-size: 1.5rem;
}

.item-1 {
  grid-column: 1 / span 2;
}

.item-2 {
  grid-column: 3 / span 2;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */
  text-transform: uppercase;
}

.item-2-kecil {
  grid-column: 1;
  display: none;
  flex-direction: row-reverse;
  column-gap: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */
  text-transform: uppercase;
}

.item-3 {
  grid-column: 1 / span 2;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 69px;
  width: 494px;
  height: 138px;
}

.item-4 {
  grid-column: 3;
  grid-row: 2 / span 4;
  padding: 15px;
}

.item-4-kecil {
  display: none;
  grid-column: 1;
  grid-row: 7 / span 4;
  padding: 15px;
  height: 600px;
}

.item-5 {
  grid-column: 4;
  grid-row: 2 / span 2;
  padding: 15px;
}

.item-5-kecil {
  grid-column: 1;
  grid-row: 11 / span 2;
  padding: 15px;
  display: none;
  height: 300px;
}

.item-6 {
  grid-column: 1 / span 2;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 158%;
  width: 494px;
  height: 88px;

  /* or 28px */

  color: #000000;
}

.item-7 {
  display: flex;
  grid-column: 1 / span 2;
}

.item-8 {
  grid-column: 4;
  grid-row: 4 / span 2;
  padding: 15px;
}
.item-8-kecil {
  grid-column: 1;
  grid-row: 13 / span 2;
  padding: 15px;
  display: none;
  height: 300px;
}

.item-9 {
  grid-column: 1 / span 2;
}
.garis-bawah:after {
  border-bottom: 2px solid black;
  content: "";
  display: block;
  width: 35%;
}

.img-1 {
  background-color: #01243a;
  background-image: url("./img/clothing3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 19px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
}

.img-2 {
  background-color: #01243a;
  background-image: url("./img/clothing1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 19px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
}

.img-3 {
  background-color: #01243a;
  background-image: url("./img/clothing2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 19px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
}

.label-container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px 17px;
  gap: 10px;

  align-self: flex-end;

  background: #ffffff;
  border-radius: 10px;
  flex-grow: 1;
}

.browse-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  gap: 10px;
  width: 200px;
  height: 56px;

  background: #f2f0df;

  border-radius: 19px;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  gap: 10px;
  width: 220px;
  height: 56px;

  padding: 14px 10px;
  border-radius: 19px;
}

.browse-text {
  width: 198px;
  height: 28px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 158%;

  /* or 28px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.browse-link {
  width: 163px;
  height: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;

  /* or 25px */
  text-decoration-line: underline;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: center;
}

.link-arrow {
  width: 25px;
  height: 25px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  align-self: center;
}

.label-judul {
  /* Fauxica Sport */

  width: 113px;
  height: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 158%;

  /* or 25px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.label-deskripsi {
  /* Running shoe */
  width: 95px;
  height: 22px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;

  /* or 22px */

  color: #505050;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.label-garis {
  /* Line 3 */
  width: 44px;
  height: 0px;

  border: 1px solid #e4e4e4;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  align-self: center;
}

.label-price {
  width: 32px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 158%;

  /* identical to box height, or 27px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;

  align-self: center;
}

.box {
  box-sizing: border-box;
  display: flex;
  column-gap: 53px;

  width: 494px;
  height: 155px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 15px 9px 30px rgba(160, 160, 160, 0.25);
  border-radius: 19px;
}

.box-item-1 {
  width: 58px;
  height: 52px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 33px;
  line-height: 158%;

  /* or 52px */
  color: #000000;

  margin-left: 40px;
  margin-top: 33px;
}

.box-item-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 158%;

  /* or 22px */

  color: #000000;
  margin-top: 43px;
  margin-right: 31px;
}

@media only screen and (max-width: 1517px) {
  .container {
    padding: 41px 20px 171px 20px;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    width: 1100px;
  }

  .item-1 {
    grid-column: 1;
  }
  .item-3 {
    grid-column: 1;
  }
  .item-6 {
    grid-column: 1;
  }
  .item-7 {
    grid-column: 1;
  }
  .item-9 {
    grid-column: 1;
  }
}

@media only screen and (max-width: 1165px) {
  .container {
    padding: 41px 20px 171px 20px;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    width: 1100px;
  }

  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-3 {
    grid-column: 1 / span 2;
  }
  .item-6 {
    grid-column: 1 / span 2;
  }
  .item-7 {
    grid-column: 1 / span 2;
  }
  .item-9 {
    grid-column: 1 / span 2;
  }

  .item-4 {
    display: none;
  }
  .item-5 {
    display: none;
  }
  .item-8 {
    display: none;
  }

  .item-2 {
    display: none;
  }
  .item-2-kecil {
    display: flex;
  }
  .item-4-kecil {
    display: flex;
  }
  .item-5-kecil {
    display: flex;
  }
  .item-8-kecil {
    display: flex;
  }
}
